In [2]:
import tqdm
import pandas as pd
import numpy as np
import urllib.request

In [179]:
# 문자열 나누기

val = 'a,b, guido'
val.split(',')

['a', 'b', ' guido']

In [180]:
piece = [x.strip() for x in val.split(',')] # strip: 공백문자를 제거
piece

['a', 'b', 'guido']

In [183]:
# 문자열 합치기: join
' '.join(piece) # ''에는 단어 사이에 삽입할 것 추가하기.

'abguido'

In [15]:
# 부분 문자열의 위치 찾기
'guido' in val
val.index(':') # 찾고자 하는 문자열이 없으면 에러
val.find(':') #find의 경우 문자열을 찾지 못하면 예외(-1) 발생시킴

ValueError: substring not found

In [18]:
val.count(',') # 해당 문자열이 몇 개 있는지 세기
val.replace(',','::') #replace: 대체하기

'a::b:: guido'

In [16]:
col = ["a_1111","a_23.0","a_3_rk","a_가","a_a", "a_0.0"] + ["b_1","b_2","b_89","b_가","b_a","b_0"]
arr = np.random.uniform(size=(10,len(col)))
data = pd.DataFrame(arr, columns=col)
can = ["a","b"]
filters = "_[1-9a-zA-Z가-힣]|".join(can)+"_[0-5a-zA-Z]"
data

,a_1111,a_23.0,a_3_rk,a_가,a_a,a_0.0,b_1,b_2,b_89,b_가,b_a,b_0
0,0.965959,0.764362,0.384998,0.703728,0.873069,0.261616,0.223236,0.144782,0.720417,0.825819,0.028958,0.352681
1,0.501837,0.377745,0.790779,0.712402,0.643715,0.825830,0.395709,0.921430,0.618360,0.840042,0.961137,0.913078
2,0.656222,0.458582,0.371191,0.004943,0.954931,0.331434,0.687444,0.031380,0.862994,0.763867,0.384465,0.083109
3,0.602372,0.260663,0.371128,0.238188,0.573036,0.871620,0.251111,0.775175,0.977029,0.656438,0.180636,0.186412
4,0.513189,0.945729,0.078813,0.485963,0.004607,0.720360,0.011364,0.224602,0.677796,0.557555,0.472900,0.357631
5,0.992895,0.860470,0.872190,0.655176,0.099534,0.575047,0.967967,0.313945,0.907668,0.764077,0.398298,0.913867
6,0.878283,0.846110,0.295887,0.068828,0.609183,0.670227,0.755158,0.296723,0.160860,0.882363,0.661091,0.266352
7,0.601874,0.190975,0.183881,0.354890,0.666633,0.856159,0.608895,0.807120,0.575917,0.643675,0.419549,0.047284
8,0.197363,0.104355,0.399323,0.838806,0.968083,0.785875,0.089369,0.327731,0.799008,0.342587,0.504578,0.557340
9,0.214507,0.686222,0.191521,0.841924,0.808715,0.783924,0.420742,0.408528,0.053335,0.065706,0.909607,0.799443

In [43]:
# 정규식 공부하기

#1. ^a: a로 시작하는 단어 찾기
data.filter(regex="^(a|b)")

#2. a$: a로 끝나는 것 찾기
data.filter(regex = "(a|b)$")

        a_a       b_a
0  0.873069  0.028958
1  0.643715  0.961137
2  0.954931  0.384465
3  0.573036  0.180636
4  0.004607  0.472900
5  0.099534  0.398298
6  0.609183  0.661091
7  0.666633  0.419549
8  0.968083  0.504578
9  0.808715  0.909607

In [48]:

# [a-z]: a와 z 사이의 문자 중 하나 찾기
data.filter(regex="[a-z]")

# [xy]: x와 y중 하나 찾기
data.filter(regex="[ab]")

# [^a]: a를 제외하고 찾기
data.filter(regex="[^ab]")

# \d: 숫자 값 찾기 (\D: 숫자가 아닌 값)
data.filter(regex='\d')

# x{n,m}: x를 n번 이상, m번 이하 반복한 문자찾기
data.filter(regex="1{}")

# .x : x로 끝나는 문자 찾기
data.filter(regex='.a')

# x+: x가 한번 이상 반복됨
data.filter(regex="1+")

# x*: x가 0번 이상 반복됨
data.filter(regex="1*9")

# x?: x가 있어도 되고 없어도 됨
data.filter(regex="0?")

,a_1111,a_23.0,a_3_rk,a_가,a_a,a_0.0,b_1,b_2,b_89,b_가,b_a,b_0
0,0.965959,0.764362,0.384998,0.703728,0.873069,0.261616,0.223236,0.144782,0.720417,0.825819,0.028958,0.352681
1,0.501837,0.377745,0.790779,0.712402,0.643715,0.825830,0.395709,0.921430,0.618360,0.840042,0.961137,0.913078
2,0.656222,0.458582,0.371191,0.004943,0.954931,0.331434,0.687444,0.031380,0.862994,0.763867,0.384465,0.083109
3,0.602372,0.260663,0.371128,0.238188,0.573036,0.871620,0.251111,0.775175,0.977029,0.656438,0.180636,0.186412
4,0.513189,0.945729,0.078813,0.485963,0.004607,0.720360,0.011364,0.224602,0.677796,0.557555,0.472900,0.357631
5,0.992895,0.860470,0.872190,0.655176,0.099534,0.575047,0.967967,0.313945,0.907668,0.764077,0.398298,0.913867
6,0.878283,0.846110,0.295887,0.068828,0.609183,0.670227,0.755158,0.296723,0.160860,0.882363,0.661091,0.266352
7,0.601874,0.190975,0.183881,0.354890,0.666633,0.856159,0.608895,0.807120,0.575917,0.643675,0.419549,0.047284
8,0.197363,0.104355,0.399323,0.838806,0.968083,0.785875,0.089369,0.327731,0.799008,0.342587,0.504578,0.557340
9,0.214507,0.686222,0.191521,0.841924,0.808715,0.783924,0.420742,0.408528,0.053335,0.065706,0.909607,0.799443

In [52]:
import re # re는 정규식 표현 지원

In [84]:
p=re.compile('[a-z]+')

# re.compile로 정규식 세워두고
sen = '33 laughter is the best medicine'

# m=p.match("a bananan") # 문자열의 첫번째부터  
# m = p.search('a banana') # 문자열 전체
#result = p.findall(sen) # 모두 찾기

m = p.match(sen)
print(m) 

# group(), start(), end(), span(): 찾은 범위

m= re.findall('[a-z가-힣]+', "안녕하시오 반갑소 내 이름은 장연훈이오")
m

None

['안녕하시오', '반갑소', '내', '이름은', '장연훈이오']

In [92]:
m= re.findall('[a-z가-힣]+', "Dear Mr. Potter, WE Ministry of MAgic", re.I) #re.I(gnorance): 대소문자 관련없이 찾아라
m

['Dear', 'Mr', 'Potter', 'WE', 'Ministry', 'of', 'MAgic']

In [96]:
m=re.compile('^python\s\w+', re.MULTILINE) # ^는 첫 줄의 단어만 인식하는데, 만약 모든 줄에서 인식하게 하고 싶다면 re.MULTILINE
data = """python one
life is too short
python two
you need python
python three
"""

print(m.findall(data))

['python one', 'python two', 'python three']

In [99]:
# r: raw string. 백슬래시 문자를 해석하지 않고 남겨둠.
p=re.compile(r'\bclass\b') # \b: word boundary(단어의 경계)
# print(p.search('My class is better than yours'))
print(p.search('subclass is better classess'))

None

In [135]:
p = re.compile(r'(\w+)\s+(\w+)\s+(\d+[-]\d+[-]\d+)', re.MULTILINE) #\w: 네임 찾기 #\s: spacebar \d:숫자
m = p.search('jang Yeonhoon 010-5012-7795')
print(m.group())  # group() 0: 매칭된 문장 전체, 1: 첫번쨰, 2: 2번째

jang Yeonhoon 010-5012-7795

In [139]:
#그룹에 이름 붙여주기 ?P<name>
p = re.compile(r'(?P<name>\w+)\s+(\w+)\s+(?P<phone>\d+[-]\d+[-]\d+)', re.MULTILINE) #\w: 네임 찾기 #\s: spacebar \d:숫자, ?P<그룹명>: 그룹 이름 붙이기
m = p.search('jang Yeonhoon 010-5012-7795')
print(m.group("phone"))

010-5012-7795

In [166]:
# 전방탐색
p = re.compile(".+://") 
m = p.search('http://google.com')
print(m.group())

# 긍정형 전방탐색
p = re.compile(".+(?=//)") #(?=x): x앞에 있는 글자 반환 
m = p.search('http://google.com')
print(m.group())

# 부정형 전방탐색
p = re.compile(".+(?!=)") #(?=x): x앞에 있는 글자 반환 
m = p.search('http://google.com')
print(m.group())

p = re.compile("[a-zA-Z]*[.][?!bat$|exe$].*$") #.*$: 파일명
m = p.search('xx.bat Asdg.exe')
print(m.group())

http://
http:
http://google.com
xx.bat Asdg.exe

In [176]:
# 문자열 바꾸기
p = re.compile('blue|white|red')
p.sub('color', 'blue pants, white cum, red sex') # sub : 문자 바꾸기

p= re.compile('안녕하세요|잘가세요|내일봐요')
p.sub('인사','안녕하세요 저는 홍미령 남친입니다. 내일봐요. 잘가세요')

p = re.compile(r'(?P<name>\w+)\s+(?P<phone>\d+[-]\d+[-]\d+)')
p.sub('\g<phone> \g<name>','장연훈 010-5012-7795') # \g<>: ?P< >로 이름 지은 것을 불러낼 수 있음
p.sub('\g<2> \g<1>', "홍미령 010-5240-9233")

'010-5240-9233 홍미령'